banal==0.4.2
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
elasticsearch==6.4.0
fingerprints==0.6.6
idna==2.8
murmurhash==1.0.2
normality==1.0.1
numpy==1.17.0
plac==0.9.6
preshed==2.0.1
PyICU==2.3.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
spacy==2.1.8
srsly==0.1.0
thinc==7.0.8
tqdm==4.35.0
urllib3==1.25.3
wasabi==0.2.2
xx-ent-wiki-sm==2.1.0
